.container {
  display: flex;
  gap: 20px;
}

.main_left {
  margin-top: 20px;
  width: 300px;
  height: 85vh;
  border: 1px solid #ccc;
}

.box_link {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #417690;
  border-bottom: 1px solid grey;
  transition: all .3s ease;
}

.box_link:hover {
  background-color: #fff;
  color: #417690;
}

.box_link a {
  color: #fff;
}

.changeDate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.changeDate input {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid gray;
  outline: none;
  width: 250px;
  background-color: rgb(252, 252, 252);
}

.changeDate .dateBtn {
  padding: 10px 12px;
  font-size: 14px;
  letter-spacing: 1.5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #5191b1;
  color: #fff;
  transition: all .3s ease;
}
.changeDate .dateBtn:hover {
  background-color: #417690;
}

.main_right {
  margin-top: 20px;
  width: 85%;
  position: relative !important;
  height: 85vh;
  overflow-y: auto;
}

.main_right-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.right_text {
  display: flex;
  justify-content: center;
}

.right_text span {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid gray;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.saleAndExpense {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.saleAndExpense > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 30px 20px;
}

.saleAndExpense .sale_box {
  border-radius: 30px 2px 2px 0px;
  background-color: #00BFDA;
}

.saleAndExpense .sales,
.saleAndExpense .expenses {
  font-weight: bold;
  font-size: 18px;
}

.saleAndExpense .expense_box {
  border-radius: 2px 30px 0 2px;
  background-color: #FE4B4B;
}

.warehouse h3 {
  text-align: center;
  margin-bottom: 30px;
}

.warehouse {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.warehouse .purchase_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 30px 20px;
  border-radius: 0px 2px 2px 30px;
  background-color: #DF9CF0;
}

.warehouse .price_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 20px;
  border-radius: 2px 0px 30px 0px;
  background-color: #F0F06A;
}

.warehouse .purchasePrice,
.warehouse .price {
  font-size: 18px;
  font-weight: bold;
}