.container {
  display: flex;
  gap: 20px;
}

.menu {
  display: none;
}

.menuExit {
  display: none;
}

.exitNull {
  display: none;
}

.main_left {
  margin-top: 20px;
  width: 300px;
  height: 85vh;
  border: 1px solid #ccc;
}

.box_link {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #417690;
  border-bottom: 1px solid grey;
  transition: all 0.3s ease;
}

.box_link:hover {
  background-color: #fff;
  color: #417690;
}

.box_link a {
  color: #fff;
}

.changeDate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.changeDate input {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid gray;
  outline: none;
  width: 250px;
  background-color: rgb(252, 252, 252);
}

.changeDate .dateBtn {
  padding: 10px 12px;
  font-size: 14px;
  letter-spacing: 1.5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #5191b1;
  color: #fff;
  transition: all 0.3s ease;
}
.changeDate .dateBtn:hover {
  background-color: #417690;
}

.main_right {
  margin-top: 20px;
  width: 85%;
  position: relative !important;
  height: 85vh;
  overflow-y: auto;
}

.main_right-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.right_text {
  display: flex;
  justify-content: center;
}

.right_text span {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid gray;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.saleAndExpense {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.saleAndExpense > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  padding: 30px 20px;
}

.saleAndExpense .sale_box {
  border-radius: 30px 2px 2px 0px;
  background-color: #00bfda;
}

.saleAndExpense .sales,
.saleAndExpense .expenses {
  font-weight: bold;
  font-size: 18px;
}

.saleAndExpense .expense_box {
  border-radius: 2px 30px 0 2px;
  background-color: #fe4b4b;
}

.warehouse h3 {
  text-align: center;
  margin-bottom: 30px;
}

.warehouse {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.warehouse .purchase_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  padding: 30px 20px;
  border-radius: 0px 2px 2px 30px;
  background-color: #df9cf0;
}

.warehouse .price_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  padding: 30px 20px;
  border-radius: 2px 0px 30px 0px;
  background-color: #f0f06a;
}

.warehouse .purchasePrice,
.warehouse .price {
  font-size: 18px;
  font-weight: bold;
}

/* Responsive for smartphones */

@media screen and (max-width: 479px) {
  .container {
    display: block;
    position: relative;
  }

  .menu {
    display: inline-block;
    font-size: 26px;
    margin-top: 10px;
  }

  .main_left {
    position: fixed;
    margin-left: -400px;
    transition: all 0.5s ease;
    z-index: 99999;
  }

  .main_left.active1 {
    margin-left: -20px;
    margin-right: 0;
    margin-top: -94px;
    padding-top: 50px;
    padding-right: 90px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 99999;
    transition-duration: 0.5s;
  }

  .main_left.active1 .box_link {
    padding: 15px 20px;
    color: white;
    background-color: #417690;
  }

  .main_left.active1 .active .box_link {
    background-color: #fff;
    color: #417690;
  }

  .menuExit {
    display: block;
    position: absolute;
    font-size: 25px;
    top: -40px;
    right: 20px;
    color: white;
    z-index: 999999;
  }

  .main_right {
    margin-top: 0;
    width: 100%;
    overflow-y: unset;
  }

  .main_right-head {
    justify-content: center;
  }

  .changeDate {
    display: block;
    gap: 20px;
  }

  .changeDate input {
    margin-bottom: 20px;
    padding: 8px 16px;
    width: 100%;
  }

  .changeDate .dateBtn {
    margin-bottom: 10px;
    padding: 8px 10px;
    letter-spacing: 1.2px;
  }

  .right_text {
    display: block;
  }
  .right_text span {
    display: block;
    text-align: center;
  }

  .saleAndExpense {
    display: block;
    margin-bottom: 0;
  }
  .saleAndExpense > div {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 20px !important;
  }

  .warehouse {
    display: block;
    padding-bottom: 10px;
  }

  .warehouse .purchase_box,
  .warehouse .price_box {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 20px;
  }

  .client_table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
  }

  .credit_table tr th:nth-child(2) {
    width: 100%;
  }

  .paginations {
    padding-bottom: 10px;
  }

}
